<section class="main-section row">
  <div class="col-12 col-lg-6 left align-self-center">
    <div class="main-content">
      <div class="main-title">
        <h2 class="text-gray text-bold subtitle">210+ countries are affected by</h2>
        <h2 class="text-orange text-bold title">CORONA</h2>
      </div>
      <div class="main-description">
        <p class="text-gray-dark">The Virus was first reported in Wuhan, Hubel China on 17 November 2019, and on 11 March 2020, the World
          Health Organization (WHO) declared it a global pandemic.</p>
        <p class="text-gray-dark text-bold">Please use it as a visual AID only, and don't base any decision (medical or logistical) based on the
          data provided in these charts.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 right align-self-center hidden-md">
    <div class="main-container-image">
      <div class="bg-image"></div>
      <img class="image" src="assets/images/covid_image.png" alt="Covid main Image">
    </div>
  </div>
</section>

<section class="stats-dashboard">
  <h1 class="stats-title text-gray text-center">Statistics</h1>
  <pk-global-stats-cards></pk-global-stats-cards>

  <div class="row mt-3">

    <div class="col-xl-4 col-12">
      <div class="card">
        <div class="card-header">
          <div class="header-title d-flex justify-content-between align-items-end">
            <h4 class="card-title text-gray text-bold">Affected Nations</h4>
            <p class="card-subtitle text-gray">Today’s Stats</p>
          </div>
          <div class="header-content">
            <input type="text">
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col-xl-8 col-12">
      <div class="card card__inner">
        <div class="card-header">
          <div class="header-title d-flex justify-content-between align-items-end">
            <h4 class="card-title text-gray text-bold">Worldwide Infections</h4>
            <div class="action-bar">
              <button class="btn btn-primary" type="button">Infections</button>
              <button class="btn btn-primary" type="button">Deaths</button>
              <button class="btn btn-primary" type="button">Recoveries</button>
              <button class="btn btn-primary" type="button">Critical</button>
            </div>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

  </div>
</section>
