<div class="container-fluid">
	<div class="row">
	  <div class="col" style="text-align: left;">
	  	<img id="covidlogo" alt="COVID-19 Logo" src="https://trello-attachments.s3.amazonaws.com/5f111d9c005e447c00ff5fc4/5f15ae4bbb97442989a1c1b3/54528455659b3723670af1c6d92989d7/covid-stats-logo.svg"/>
	  </div>
	  <!--div class="col-5" style="text-align: center;">
	  	<span style="font-size: 30px; color: #B8860B;">Welcome to COVID-19 Statistics</span>
	  </div-->
	  <div class="col" style="text-align: right;">
	  	<pk-toggle-swtich
	  	  [isChecked]="isDarkThemeActive"
	      (toggleTheme)="onToggleTheme($event)">
	    </pk-toggle-swtich>
	  </div>
	</div>
</div>

<!--div style="display: inline-block;">
  <img id="covidlogo" alt="COVID-19 Logo" src="https://trello-attachments.s3.amazonaws.com/5f111d9c005e447c00ff5fc4/5f15ae4bbb97442989a1c1b3/54528455659b3723670af1c6d92989d7/covid-stats-logo.svg"/>
  <span style="font-size: 30px; color: #B8860B; margin-left: 340px; margin-right: 30px;">Welcome to COVID-19 Statistics</span>
</div>
<pk-toggle-swtich
  [isChecked]="isDarkThemeActive"
  (toggleTheme)="onToggleTheme($event)">
</pk-toggle-swtich-->
 