<!doctype html>

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="country-page.component.css" />

  </head>

  <body>
    <div id="Countries">
      <header>
        <nav>
      <font size="5" color="#C9CBD1">Afected Nations</font>
      <div id="Statistics">
      <font size="3" color="#C9CBD1">Todays statistics</font>
      </div>
      <div> </div>
      <input type="search"  id="input-search"
      placeholder="Search 215 Nations">
      <div class="right-menu">
        <button class="menu-button">Sorty by</button>
        <div class="dropdown-menu">
          <a href="#">Total cases</a>
          <a href="#">Today cases</a>
          <a href="#">Total deaths</a>
          <a href="#">Todays deaths</a>
          <a href="#">Total recoveries</a>
        </div>
      </div>
    </nav>
      </header>
      <div id="Scroll">
      <div id="Pais1">
        <font size="5" color="000000">Pais1</font>
      </div>
      <div id="Pais2">
        <font size="5" color="000000">Pais2</font>
      </div>
      <div id="Pais3">
        <font size="5" color="000000">Pais3</font>
      </div>
      <div id="Pais4">
        <font size="5" color="000000">Pais4</font>
      </div>
      <div id="Pais5">
        <font size="5" color="000000">Pais5</font>
      </div>
      <div id="Pais6">
        <font size="5" color="000000">Pais6</font>
      </div>
      <div id="Pais7">
        <font size="5" color="000000">Pais7</font>
      </div>
      <div id="Pais8">
        <font size="5" color="000000">Pais8</font>
      </div>
      <div id="Pais9">
        <font size="5" color="000000">Pais9</font>
      </div>
      <div id="Pais10">
        <font size="5" color="000000">Pais10</font>
      </div>
      <div id="Pais11">
        <font size="5" color="000000">Pais11</font>
      </div>
      <div id="Pais12">
        <font size="5" color="000000">Pais12</font>
      </div>
      <div id="Pais13">
        <font size="5" color="000000">Pais13</font>
      </div>
      <div id="Pais14">
        <font size="5" color="000000">Pais14</font>
      </div>
      <div id="Pais15">
        <font size="5" color="000000">Pais15</font>
      </div>
    </div>
    </div>
  </body>
</html>
