@import '_fonts'
@import '_variables'

.theme-light
  --bg-color: #{$bg-light}
  --bg-gradient: #{$bg-light-gradient}
  --top-shadow: #{$shadow-light-dark}
  --bottom-shadow: #{$shadow-light}

.theme-dark
  --bg-color: #{$bg-dark}
  --bg-gradient: #{$bg-dark-gradient}
  --top-shadow: #{$shadow-dark}
  --bottom-shadow: #{$shadow-dark-light}
