@import '_fonts'
@import '_variables'

.theme-light
  --bg-color: #{$bg-light}
  --bg-gradient: #{$bg-light-gradient}
  --shadow-main: #{$shadow-light-dark}
  --shadow-secondary: #{$shadow-light}

.theme-dark
  --bg-color: #{$bg-dark}
  --bg-gradient: #{$bg-dark-gradient}
  --shadow-main: #{$shadow-dark} 
  --shadow-secondary: #{$shadow-dark-light}