$bg-light: #EBECF0
$bg-light-gradient: #CED2E3

$bg-dark: #1E1E20
$bg-light-gradient: #000000

$text-gray: #8A92A5
$text-gray-dark: #6D7587
$text-orange: #E1A300

$color-blue: #006BF2
$color-red: #FF4D70
$color-green: #2BA44B
$color-yellow: #EB955D
