*{
  margin:3px;
  padding:3px;
}
#input-search{
width:300px;
height:40px;
font-size: 20px;
text-indent: 10px;
background-color: transparent;
color:white;
}
div#Countries{

  max-width: 740px;
  max-height: 680px;
  background-color: #484B58;

}

.menu-button{
  background: #484B58;
  color: #484B58;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  border: 1px white;
}
.right-menu{
  position: relative;
  float: right;
  background-color:#484B58;
  min-width: 158px;
  z-index: 1;
}
.dropdown-menu{
  background-color: #484B58 ;
  color: #484B58;
}
.right-menu:hover .dropdown-menu{
  display: block;
}
.right-menu:hover .menu-button{
  background-color: #059DFA;
}

.dropdown-menu{
  display: none;
  position: absolute;
}

div#Scroll{
  max-width: 740px;
  max-height: 480px;
  background-color: #484B58;
  overflow: auto;
}



div#Statistics{
  float: right;
}

div#Pais1{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}

div#Pais2{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}

div#Pais3{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}

div#Pais4{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais5{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais6{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais7{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais8{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais9{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais10{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais11{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais12{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais13{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais14{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}
div#Pais15{
  width: 540px;
  height: 40px;
  background-color: #FF0000 ;
}

.menu-button{
  background-color: #FFF;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #fff;
}

.right-menu{
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 158px;
  z-index: 1;
}
