@import 'variables'

.status_code
  color: $color-orange
  font-family: 'Lato'
  font-size: 150px
  text-align: left
  margin-top: 22px
  margin-bottom: 22px
  font-weight: bold

.status_msg
  color: $color-gray
  font-family: 'Raleway'
  font-size: 110px
  text-align: left
  margin-top: 16px
  margin-bottom: 16px

.displays
  margin-top: 35px
  margin-bottom: 20px
  //position: absolute
  //top: 50%
  //left: 50%
  //transform: translate(-50%, -50%)