@import 'styles/_theme'

html, body
  padding: 0
  margin: 0
  width: 100%

html, body
  height: 100%

body
  min-height: 100%
  background: var(--bg-color)
  transition: background 0.7s
  font-size: 16px
  font-family: $font-lato


