/* You can add global styles to this file, and also import other style files */

//DELETE LATER
@import "~bootstrap/dist/css/bootstrap-grid.min"

@import 'styles/_theme'

html, body
  padding: 0
  margin: 0
  width: 100%

html
  height: 100%

body
  min-height: 100%
  background: var(--bg-color)
  transition: background 0.7s
