@import 'variables'
@import 'theme'

.main
  padding: 20px

.main-text
  font-size: 6em
  margin-top: 0px
  margin-bottom: 0px

.main-text.title
  color: $color-orange

.main-text.stats
  color: $color-gray

.sub-text
  color: $color-gray

.main p
  color: $color-gray-dark

.img-container
  border-radius: 50%
  background: linear-gradient(145deg, var(--bg-color), var(--bg-gradient))
  box-shadow:  5px 5px 8px var(--top-shadow), -5px -5px 8px var(--botom-shadow)
  height: 400px
  width: 400px

.img-container img
  height: 300px

//JUST VISUAL HELP MEANWHILE THERE IS NO COMPONENTS
.stats
  padding: 10px

.stats-content
  height: 200px
  background-color: blue

.info
  padding: 10px
  height: 400px

.info-content
  height: 400px
  background-color: blue


//PKS02US07
.search-input
  height: 38px
  width: 248px
  border-radius: 18.8px
  background: linear-gradient(145deg, var(--bg-color), var(--bg-gradient))
  box-shadow: inset 6px 6px 5px var(--top-shadow), inset -6px -6px 5px var(--bottom-shadow)
  color: #{$color-gray}

.search-input .search-icon
  max-width: 100%
  width: 15px
  color: #{$color-gray}

.search-text
  border: none
  background: transparent
  outline: none
  color: #{$color-gray}
