<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6 main">
                <h2 class="sub-text">210+ countries are affected by</h2>
                <h1 class="main-text title">CORONA</h1>
                <p>The Virus was first reported in Wuhan, Hubel, China, on 17 November 2019, and on 11 March 2020, the World Health Organization (WHO) declared it a global pandemic.</p>
                <p class="sub-text"><strong>Please use this app as a <em>Visual Aid</em> only, and don't base any decision (medical or logistical) based on the data provided in these charts.</strong></p>
        </div>
        <div class="col-md-6 pl-5 main">
            <div class="img-container row justify-content-center align-items-center">
                <img src="assets/images/covid_image.png" alt="Covid main Image">
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <h1 class="main-text stats">STATS</h1>
    </div>
    <div class="row mt-3">
        <div class="col-xl-3 col-md-6 col-6 stats">
            <div class="stats-content"></div>
        </div>
        <div class="col-xl-3 col-md-6 col-6 stats">
            <div class="stats-content"></div>
        </div>
        <div class="col-xl-3 col-md-6 col-6 stats">
            <div class="stats-content"></div>
        </div>
        <div class="col-xl-3 col-md-6 col-6 stats">
            <div class="stats-content"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 info">
            <!-- <div class="info-content"><div>-->

              <div class=" row search-input">
                <img class="ml-3 search-icon" src="assets/images/search-solid.svg" alt="">
                <input class="ml-3 search-text" type="text">
              </div>

        </div>
        <div class="col-xl-8 info">
            <!-- <div class="info-content"></div> -->
            
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 info">
            <div class="info-content"></div>
        </div>
        <div class="col-xl-8 info">
            <div class="info-content"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 info">
            <div class="info-content"></div>
        </div>
        <div class="col-xl-8 info">
            <div class="info-content"></div>
        </div>
    </div>
</div>
